.admin{
    >.adminContent{
        position: relative;
        background-color: snow;
        min-height: 100vh;
        width: 100%;
        padding:20px 50px;
        padding-left: 300px;
        overflow: auto;

        .adminMainGraph{
            background-color: white;
            padding:50px;
            height: 550px;
            margin-top: 20px;
            margin-left: 20px;
            border:1px solid lightgrey;
            border-radius: 20px;
        }
    }
}

@media screen and (max-width:1000px){
    .admin{
        >.adminContent{
            .adminMainGraph{margin-left: 0;}
        }
    }
}