.sideNav{
    padding-top: 30px;
    color:lightgrey;
    height: 100vh;
    width: 250px;
    background-color: #1e335c;
    position: fixed;
    top:0;
    z-index: 10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    hr{
        border:0.5px solid lightgrey;
        width: 80%;
    }
    >h3{
        text-align: center;
        font-size: 22px;
        color:grey;
    }
    >.profile{
        margin-left: 20px;
        >img{
            width: 35px;
            border-radius: 50%;
            margin-right: 10px;
        }
        font-size: 14px;
    }
    >.mainContent{
        display: block;
        margin: auto;
        >ul{
            font-family: Arial, Helvetica, sans-serif;
            padding:0 20px;
            >li{
                margin-top: 10px;
                cursor: pointer;
                list-style-type: none;
                vertical-align: middle;
                a{color:white;vertical-align: middle;}
                span{margin-right:15px;}
                .arrow{float: right;}
            }
            li:first-child{margin-left: 0;}
            .Dashboard{
                background-color: white;
                text-align: center;
                padding:5px;
                border-radius: 20px;
                a{color:black}
            }

        }
    }
}
