.userReviews{
    >h2{
        font-size: 24px;
        margin-top: 20px;
        margin-left: 10px;
    }
    >.addReview{
        margin:20px 0 40px 20px;
        position: relative;
        >.profilePhoto{
            display: block;
            max-width: 50px;
            margin-right: 20px;
            border-radius: 50%;
            float: left;
        }
        >.addReviewInput{
            background-color: snow;
            border:none;
            width: 80%;
            word-wrap: break-word;
            margin-top: 10px;
            resize: none;
        }
        >.addReviewInput:focus{
            outline:none;
        }
        >hr{
            width: 80%;
            margin-top: 0;
            border:1px solid grey;
        }
        >button:first-child{
            margin-right: 10px;
        }
    }
}

.reviewSingle{
    margin-top: 20px;
    border: 1px solid maroon;
    border-radius: 20px;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;

    >.profilePhoto{
        display: block;
        max-width: 50px;
        float: left;
        margin-right: 20px;
        border-radius: 50px;
    }
    >.reviewUserName{
        font-weight: bold;
    }
    >.reviewDate{
        >span{color:rgb(153, 152, 152);}
        font-size: 14px;
    }
    
    >.reviewSingleContent{
        margin-left: 70px;
        color:grey;
    }

    >.reviewsAttribute{
        margin-top: 10px;
        i{margin-left: 20px;font-size: 20px;}
        span{margin-left: 20px;}
    }
}

@media screen and (max-width:700px){
    .userReviews{
        >.addReview{
            >.addReviewInput{width: 250px;}
            >hr{width: 70%;}
        }
    }
}

@media screen and (max-width:400px){
    .userReviews{
        >.addReview{
            >.addReviewInput{width: 250px;}
            >hr{width: 100%;}
        }
    }
}