.collapsableNav{
    .collapseContentContainer{ 
        width: 100%;
        background-color: rgba(18, 18, 56, 0.8);
        color:snow;
        text-align: center;

        ul{
            margin:0;
            padding:0;
        }

        .collapseIndividual{
            margin-bottom: 5px;
            list-style-type: none;
            a{
                color:white;
                cursor: pointer;
            }
            a:hover{text-decoration: none;}
        }
    }
    .show{
        display: block;
        height: 170px;
        overflow: hidden;
        padding:10px;
        transition:all 1s;
    
    }
    .hidden{
        display: block;
        height: 0;
        overflow: hidden;
        padding:0;
        transition:all 1s;
    }
}

