.header{
	display: block;
	width: 100%;
	height: auto;
	background-color: snow;
	padding: 20px 0 10px 0;
    position: relative;
     
    >.headerLogo{        
        img{
            width: 60px;
            height: auto;
            margin-right: 20px;
        }
        >a{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
        >a:hover{text-decoration: none;}
        .headerTitle{
            font-size: 42px;
            cursor: pointer;
            .headerTitle1{
                color: maroon;
            }
            .headerTitle2{
                color: black;
                
            }
        } 
    }
      
    .quote{
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width:750px){
    .header{
        >.headerLogo{
            .headerTitle{font-size: 38px;}
        }
        .quote{font-size: 15px;}
    }
}